/*格式化样式*/
@import './normalize.css' ;
html,
body {
  font-family: MicrosoftYaHei;
}
body,
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
button {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
ol,
ul,
li {
  list-style: none;
}
/* caption,th {text-align:left}  */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
} */
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}
/* a {
  text-decoration: none;
} */


/* :root -> 获取根元素html */
:root{
    --color-text: #666;
    --color-high-text: #ff5777;
    --color-tint: #ff8198;
    --color-background: #fff;
    --font-size: 14px;
    --line-height: 1.5
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Helvetica Neue", "PingFang SC" , "Hiragino Sans GB" , 
    "Microsoft YaHei","微软雅黑" ， Arial, Helvetica, sans-serif;
    user-select: none; /* 禁止用户鼠标在页面上选文字/图片等 */
    -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎， tap点击， 
    highlight背景高亮， color颜色， 颜色用数值调节 */
    background: var(--color-background);
    color:var(--color-text);
    width: 100vw;
}

a{
    color: var(--color-text);
    text-decoration: none;
}

.clear-fix::after{
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear-fix{
    zoom: 1;
}

.left{
    float: left;
}

.right{
    float: right;
}